.tuesday {
  background-color: #d7fddf;
  border: 3px solid #a2f1b3;
}

.tuesday .number {
  background-color: #a2f1b3;
  color: #163f1f;
}

.tuesday a {
  background-color: #c6f4d0;
  color: #426d4b;
}

.tuesday a:hover {
  border-bottom: 2px solid #426d4b;
  text-shadow: #d7fddf 3px -3px 3px;
}

.tuesday:hover {
  background: linear-gradient(to top left, #d7fddf, #a2f1b3);
}

.tuesday:active {
  background: linear-gradient(to top left, #a2f1b3, #d7fddf);
}